@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    background: url("https://github.com/aturingia/img-src/blob/main/pexels-pixabay-162616.jpg?raw=true") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

  }


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.timer-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .timer {
    display: inline-block;
    margin: 0 20px;
  }
  
  .timer h2 {
    margin-bottom: 10px;
  }
  
  .clock {
    font-size: 36px;
  }
  
  .timer-controls {
    margin-top: 10px;
  }
  
  .timer-controls button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .flip-clock-label {
    font-size: 10px;
  }

  #work-timer {
    grid-area: work-timer;
  }

  #short-break-timer {
    grid-area: short-break-timer;
  }

  #long-break-timer {
    grid-area: long-break-timer;
  }

  .timer-container {
    display: grid;
    gap: 10px;
    grid-template: 
    "work-timer" 
    "short-break-timer" 
    "long-break-timer";
  }

  @media(min-width: 600px) {
    .timer-container {
      grid-template: 
      "work-timer short-break-timer long-break-timer" auto;
    }
  }

  @media(min-width: 900px) {
    .timer-container {
      grid-template: 
      "work-timer short-break-timer long-break-timer" auto;
    }
  }

  @media(min-width: 1200px) {
    .timer-container {
      grid-template: 
      "work-timer short-break-timer long-break-timer" auto;
    }
  }
